@model Infoshare.Workshop.Webapp.Models.LoginForm

<form asp-action="Login">
    <label>
        Name:<br /> <input type="text" asp-for="Login" />
    </label>
    <input type="submit" value="Login" />
</form>